body {
    margin: 0;
    background: red;
    height: 100vh;
}
#container {
    display: grid;
    grid-template-columns: 70px 0px auto;
    grid-column-gap: 5px;
    height: 100vh;
    border: 2px solid red;
}
#content {
    padding: 30px 50px;
}
app-main {
    background: #2D2E2E;
    height: 10vh;
    width: 100%;
    color: red;
}
.inline {
    display: inline-block;
}
.flex-container {
    display: flex;
    justify-content: space-between;
}