<div class="wrapper">
  <nav>
      <ul>
        <li>
          <a routerLink="">
            <i class="material-icons">reorder</i>
          </a>
        </li>
        <li>
          <a routerLink="posts">
            <i class="material-icons">supervised_user_circle</i>
          </a>
        </li>
        <li>
          <a routerLink="posts">
            <i class="material-icons">supervised_user_circle</i>
          </a>
        </li>
        <li>
          <a routerLink="posts">
            <i class="material-icons">supervised_user_circle</i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- <p>online</p>  -->
    <!--<div>
    <div class="user">
        <div class="mini-img-box inline">
            <img class="review-mini-img" src="" alt="profile img">
        </div>
        <div class="review-mini-info inline">
            <h6>Crazy Cool Username</h6>    
            <p>dakljf;jk aldkfad;lkfja;dlkjfa jaasflk</p>
        </div>
    </div>
  </div> -->
</div>
